.muni__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 2rem 6rem;
}

/*Muestra los link en la barra*/
.muni__navbar-links {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

/*Espacio entre logo e items*/
.muni__navbar-links_logo {
    margin-right: 3rem;
}

/*Tamaño img*/
.muni__navbar-links_logo img {
    width: 62px;
    height: 16px;
}

/*Menu desplegable (fila)*/
.muni__navbar-links_container {
    display: flex;
    flex-direction: row;
}

/*Opciones de ingreso*/
.muni__navbar-sign {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.muni__navbar-links_container p,
.muni__navbar-sign p,
.muni__navbar-menu_container p {
    color: var(--color-text);
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-transform: capitalize;

    margin: 0 1rem;
    cursor: pointer;
}

/*Diseño de la barra*/
.muni__navbar-sign button,
.muni__navbar-menu_container button {
    padding: 0.5rem 1rem;
    color: rgb(8, 124, 219);
    background: #8ed1fc;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    border-radius: 5px; /*Esto*/
    border: none;
    outline: none;
    cursor: pointer;
}

/*Posicion de menu (esta desactivado ver "linea 113")*/
.muni__navbar-menu {
    margin-left: 1rem;

    display: none;
    position: relative;
}

/*Tipo cursor (cambiar apariencia)*/
.muni__navbar-menu svg {
    cursor: pointer;
}

/*Diseño menu*/
.muni__navbar-menu_container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;

    text-align: end;
    background: var(--color-footer);
    padding: 2rem;
    position: absolute;
    right: 0;
    top: 40px;
    margin-top: 1rem;
    min-width: 210px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.muni__navbar-menu_container p {
    margin: 1rem 0;
}

.muni__navbar-menu_container-links-sign {
    display: none;
}

/*_______Para que funcione en celular_______*/

/*Desactiva las opciones en el tamaño de 1050px y activa menu desplegable*/
@media screen and (max-width: 1050px) {
    .muni__navbar-links_container {
        display: none;
    }

    .muni__navbar-menu {
        display: flex;
    }
}
/* */
@media screen and (max-width: 700px) {
    .muni__navbar {
        padding: 2rem 4rem;
    }
}

/*Desactiva el login de la barra pero lo activa en menu desplegable*/
@media screen and (max-width: 550px) {
    .muni__navbar {
        padding: 2rem;
    }

    .muni__navbar-sign {
        display: none;
    }

    .muni__navbar-menu_container {
        top: 20px;
    }

    .muni__navbar-menu_container-links-sign {
        display: block;
    }
}
