/*Estilos para el contenedor del slider*/
.brand_slider {
  display: flex;
  justify-content: center;
}


/*Estilos para el slider*/
.slider {
  margin: 0 auto;
  margin-top: 2rem;
  font-family: var(--font-family);
  cursor: pointer;
  width: 100vw;
}

/*Estilos para la imagen dentro del slider*/
.slider img {
  width: 100%;
  height: 30rem;
  object-fit: cover;
  border-radius: 5px;
}


/*Estilos para pantallas más pequeñas (Celu)*/
@media (max-width: 768px) {
  .slider img {
    width: 100%;
    height: auto;
  }

  .slider {
    margin: 0 auto;
    margin-top: 2rem;
    padding: 1rem;
    font-family: var(--font-family);
    cursor: pointer;
    width: 100vw;
  }

  .separador {
    left:200%;
  }
}
