@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
    --font-family: 'Manrope', sans-serif;
  
    --gradient-text: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
    --gradient-bar:-moz-radial-gradient(circle at 3% 25%, rgba(21, 67, 139, 1) 0%, rgba(139, 38, 127, 1) 100%);

                    background: -webkit-radial-gradient(circle at 3% 25%, rgba(21, 67, 139, 1) 0%, rgba(139, 38, 127, 1) 100%);
                    background: -o-radial-gradient(circle at 3% 25%, rgba(21, 67, 139, 1) 0%, rgba(139, 38, 127, 1) 100%);
                    background: -ms-radial-gradient(circle at 3% 25%, rgba(21, 67, 139, 1) 0%, rgba(139, 38, 127, 1) 100%);
                    background: radial-gradient(circle at 3% 25%, rgba(21, 67, 139, 1) 0%, rgba(139, 38, 127, 1) 100%);

  
    --color-bg: rgb(255, 255, 255);
    --color-footer: #013245;
    --color-blog: #1a1a1a;
    --color-text: #ffffff;
    --color-subtext: #ff0404;
  }