@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap");

:root {
    --font-family: "Roboto", sans-serif;
  
    --gradient-text: linear-gradient(90deg, #ebb289, #ee0979, #ff6a00);
    --gradient-bar: linear-gradient(90deg, #ff9a00, #ff0999, #ff5a34);
  
    --color-bg: rgb(255, 255, 255);
    --color-footer: #74a1db;
    --color-blog: #1a1a1a;
    --color-text: #000000;
    --color-subtext: #ff0404;
  }