.footer {
  background-color: var(--color-footer);
  padding: 20px 0;
}

.footer-content {
  display: flex;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 10%;
}

.footer-content img {
  width: auto;
  height: 100px;
}

.footer-content img:last-child {
  margin-right: 0;
}

@media (max-width: 940px) {
  .footer-content {
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  }
  
  .footer-content img {
    height: 40px;
  }
}
